// $gray1: #f6f6f7;
// $gray2: #efefef;
// $gray3: #bdbdbd;
// $gray4: #828282;
// $gray5: #4f4f4f;
// $gray6: #333333;
// $dark-navy: #011627;

$light: #f6f6f7;
$dark: #101010;
$red1: #ff1d58;
$red2: rgba(255,29,88,0.1);
$gray1: #a5a7bd;
$gray2: #f3f5fa;
