/* IMPORTS */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* FONTS */

$title-lg: "Source Serif Pro", serif;
/* guidelines
*/

$title-md: "Source Sans Pro", serif;
/* guidelines
*/

$title-alt: "Josefin Sans", sans-serif;
/* guidelines
letter-spacing: -0.05em;
*/

$text-primary: "Montserrat", sans-serif;
/* guidelines
*/

$text-secondary: "Nunito", sans-serif;
/* guidelines
*/
