@import "../index.scss";

.EventDetails {
    font-family: $primary-label;
    overflow-y: scroll;

    .back-button {
        color: $red1;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .event__images {
        display: flex;
        width: 100%;
        height: 50%;

        .event__images-image {
            max-height: 100%;
            flex-basis: 50%;
            flex-shrink: 1;
            flex-grow: 0;
            margin: 0.5em;

            img {
                height: 100%;
                width: 100%;
                border-radius: 0.5em;
                object-fit: cover;

                // TODO: Extend .button--clickable
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .event__images-2-row {
            max-height: 100%;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            margin: 0.5em;

            .event__images-image {
                max-height: 50%;
                margin-left: 0;
                margin-right: 0;

                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .event__images-host {
            @extend .event__images-image;
            min-width: 50%;
        }

        margin-bottom: 2em;
    }

    .events-details {
        @extend .event-content;
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 3em 2em 2em 2em;

        border-radius: 5%;
        background: white;

        .event__categories {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            z-index: 1;

            .ant-tag {
                user-select: none;
                text-transform: capitalize;
                color: $red1;
                background: rgba($red1, 0.1);
                padding: 0.5em 1em 0.5em 1em;
                border-radius: 0.5em;
                border: none;
            }
        }

        h1 {
            font-weight: bold;
            font-size: 3em;
            line-height: 1em;
            margin-bottom: 0.2em;
            margin-top: 0.2em;
        }

        .event__hosts {
            margin-bottom: 2em;

            .ant-card-meta {
                padding: 1em;
                background: $gray1;
                border-radius: 1em;
                width: fit-content;
                min-width: 70%;
                margin-bottom: 1em;

                .ant-card-meta-title {
                    margin-bottom: 0.5em;
                    font-weight: bold;
                }
            }
        }

        .event__rooms {
            margin-bottom: 2em;

            .event__room-button {
                padding: 1em;
                background: $gray1;
                border-radius: 1em;
                width: fit-content;
                min-width: 70%;

                .ant-card-meta-title {
                    font-weight: bold;
                    user-select: none;
                }

                // TODO: Extend .button--clickable
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.02);
                    background: rgba($red1, 0.5);
                }
            }
        }
    }
}