@import "../index.scss";

.EventDashboard {
  overflow-y: scroll;
  overflow-x: hidden;
  @include tablet-landscape {
    background: url(../../../assets/media/dashboard-backdrop.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}

.mobile-view {
  /* mobile SCSS goes here */

  .page-header {
    position: relative;
    height: 7.5vh;
    @include phone-med-quality {
      height: 8.5vh;
    }
    width: 100%;
    font-family: $primary-label;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      position: absolute;
      width: 100%;
      margin: 0;
      top: 1.75vh;
      font-size: 1.5em;
      font-weight: 700;
    }
  }

  .page-contents {
    position: relative;
    width: 100%;
    height: calc(100vh - 30px);
    .events-category {
      h5 {
        font-family: $primary-label;
        margin-left: 5%;
        font-size: 1.125em;
        font-weight: 700;
      }
    }

    // .events-category:first-of-type {
    //   margin-top: 10%;
    // }

    .events-frame {
      padding: 0 0 0 3%;
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      position: relative;
    }
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
  }
}

.desktop-view {
  /* desktop SCSS goes here */

  .events-scroll {
    @extend .event-content;

    h1 {
      font-family: $primary-label;
      font-weight: bold;
      user-select: none;
    }

    .events-category {
      h1 {
        font-size: 1.5em;
        @include tablet-landscape {
          font-size: 2.5em;
        }
      }
    }

    .events-category:first-child {
      margin-top: 5vh;
      margin-bottom: 5vh; // Temporary
    }
  }
  .events-frame--no-scroll {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    position: relative;
    flex-wrap: wrap;
  }

  .event-card {
    flex-grow: 1;
  }

  .gradient-fade {
    background: linear-gradient(
      270deg,
      #f6f6f7 12.4%,
      rgba(246, 246, 247, 0) 100%
    );
    display: inline-block;
    position: absolute;
    bottom: 2vh;
    height: 70%;
    @include tablet-landscape {
      min-width: 75px;
    }
    @include desktop {
      min-width: 100px;
    }
  }
  .gradient-fade-right {
    right: 0;
  }
  .gradient-fade-left {
    transform: rotate(-180deg);
    left: 0;
  }

  .page-label {
    @include page-label;
    font-weight: 800;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
  }
}
