@import "../index.scss";

.EventDashboard {
  overflow-y: scroll;
  overflow-x: hidden;
  background: url(../../../assets/media/dashboard-backdrop.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;

  .events-scroll {
    @extend .event-content;

    .events-category {
      h1 {
        font-family: $primary-label;
        font-weight: bold;
        user-select: none;
        @include desktop {
          font-size: 2.5em;
        }
      }
    }

    .events-category:first-child {
      margin-top: 5vh;
    }
  }
}

.events-frame {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  position: relative;

  .events-draggable {
    display: flex;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
  }
}

/* TEMP FEATURE */
.events-frame--no-scroll {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: auto;
  position: relative;
  flex-wrap: wrap;
}

.event-card {
  flex-grow: 1;
}

.gradient-fade {
  background: linear-gradient(
    270deg,
    #f6f6f7 12.4%,
    rgba(246, 246, 247, 0) 100%
  );
  display: inline-block;
  position: absolute;
  bottom: 2vh;
  height: 70%;
  @include tablet-landscape {
    min-width: 75px;
  }
  @include desktop {
    min-width: 100px;
  }
}
.gradient-fade-right {
  right: 0;
}
.gradient-fade-left {
  transform: rotate(-180deg);
  left: 0;
}

.page-label {
  @include page-label;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
