.EventDashboard {
    overflow-y: scroll;
}
.EventDashboard > .dashboard-row {
    width: 100%;
    margin: 0 !important;
}

.EventDashboard > .dashboard-row {
    width: 100%;
    margin: 0 !important;
}

/* TODO: Extra responsiveness */
@media (max-width: 1200px) {
    .EventDashboard > .dashboard-row > .dashboard-col {
        min-width: 20%;
    }
}
@media (max-width: 1000px) {
    .EventDashboard > .dashboard-row > .dashboard-col {
        min-width: 25%;
    }
}

@media (max-width: 800px) {
    .EventDashboard > .dashboard-row {
        width: calc(100% - 2em);
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
    .EventDashboard > .dashboard-row > .dashboard-col {
        min-width: 33%;
    }
}

@media (max-width: 500px) {
    .EventDashboard > .dashboard-row > .dashboard-col {
        min-width: 50%;
    }
}