.EventDashboard {
  overflow-y: scroll;
  background-color: #f6f6f7;
}

.EventDashboard > .dashboard-row {
  width: 100%;
  margin: 0 !important;
}

.EventDashboard > .dashboard-row {
  width: 100%;
  margin: 0 !important;
}

/* TODO: Extra responsiveness */
@media (max-width: 1200px) {
  .EventDashboard > .dashboard-row > .dashboard-col {
    min-width: 20%;
  }
}

@media (max-width: 1000px) {
  .EventDashboard > .dashboard-row > .dashboard-col {
    min-width: 25%;
  }
}

@media (max-width: 800px) {
  .EventDashboard > .dashboard-row {
    width: calc(100% - 2em);
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .EventDashboard > .dashboard-row > .dashboard-col {
    min-width: 33%;
  }
}

@media (max-width: 500px) {
  .EventDashboard > .dashboard-row > .dashboard-col {
    min-width: 50%;
  }
}

.events-frame {
  display: flex;
  flex-direction: row;
  width: 60%;
  overflow: auto;
  white-space: nowrap;
}

.event-card {
  flex-grow: 1;
}

.gradient-fade {
  background: linear-gradient(
    270deg,
    #f6f6f7 12.4%,
    rgba(246, 246, 247, 0) 100%
  );
  min-width: 100px;
  display: inline-block;
  position: sticky;
  right: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
