.CategoryScroller {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 22%;
    width: 40%;
    z-index: 1;
}
/* TODO: Mobile View */
@media only screen and (max-width: 800px) {
    .CategoryScroller {
        width: 80%;
    }
}

/* Hide scrollbar */
.CategoryScroller {
    -ms-overflow-style: none;
}
.CategoryScroller::-webkit-scrollbar {
    display: none;
}

.CategoryScroller > .category-chip {
    color: black !important;
    background: transparent !important;
}

.CategoryScroller > .category-chip--active {
    color: white !important;
    /* TODO: Mobile View */
    background: #2351f4 !important;
}

.CategoryScroller > .ant-tag {
    user-select: none;
    /* TODO: extend 't--capitalize' */
    text-transform: capitalize;
}