.field-add {
    display: flex;
    flex-direction: row;
    align-items: center;

    .anticon {
        margin-left: 1em;
    }
}

.EventForm {
    .ant-divider.ant-divider-horizontal {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .form-button {
        margin-top: 0;
    }
}

.category-select-option > .ant-select-item-option-content,
.category-select > .ant-select-selector > .ant-select-selection-item > .ant-select-selection-item-content {
    text-transform: capitalize;
}

/* SEARCH INPUT */
#venue > .mapboxgl-ctrl > .mapboxgl-ctrl-geocoder--pin-right,
#venue > .mapboxgl-ctrl > .mapboxgl-ctrl-geocoder--icon {
    display: none;
}
#venue > .mapboxgl-ctrl > .suggestions-wrapper > .suggestions {
    list-style-type: none;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    font-size: 1em;
}
#venue > .mapboxgl-ctrl > .suggestions-wrapper > .suggestions > li {
    border: 1px lightgrey solid;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#venue > .mapboxgl-ctrl > .suggestions-wrapper > .suggestions > li:hover {
    background: ghostwhite;
}

.ant-btn {
    margin-top: 1em;
}