.event-details-card {
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2em;

    border-radius: 3em;
    background: white;

    @include tablet-portrait {
        margin-bottom: 3%;
    }

    .back-button {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .event__images {
        display: flex;
        width: 100%;
        height: 50%;

        .event__images-image {
            max-height: 100%;
            flex-basis: 50%;
            flex-shrink: 1;
            flex-grow: 1;
            margin: 0.5em;

            img {
                height: 100%;
                width: 100%;
                border-radius: 0.5em;
                object-fit: cover;

                // TODO: Extend .button--clickable
                cursor: pointer;
                transition: all 0.2s;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .event__images-2-row {
            max-height: 100%;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            margin: 0.5em;

            .event__images-image {
                max-height: 50%;
                margin-left: 0;
                margin-right: 0;

                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .event__images-host {
            @extend .event__images-image;
            min-width: 50%;
        }

        margin-bottom: 2em;
    }

    .event__misc {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        
        .event__links {
            margin-left: auto;

            .event__link {
                margin-left: auto;
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 1em;
                width: fit-content;
                padding: 1em 2em;
                transition: all 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .event__categories {
            display: flex;
            flex-direction: row;
            flex-wrap: unset;
            z-index: 1;
            overflow-x: scroll;
            line-height: 1.5em;
            align-items: center;
            align-content: flex-start;
            margin-bottom: 1em;

            .ant-tag {
                user-select: none;
                text-transform: capitalize;
                padding: 1em;
                border-radius: 0.5em;
                border: none;
                margin-bottom: 0.5em;
            }
        }

        @include tablet-portrait {
            flex-direction: row;

            .event__categories {
                overflow: hidden;
                flex-wrap: wrap;
            }
        }
    }

    .event__dates {
        width: max-content;
        max-width: 100%;
    }

    h1 {
        font-weight: bold;
        font-size: 3em;
        line-height: 1em;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
    }

    .event__hosts {
        margin-bottom: 2em;

        .ant-card-meta {
            padding: 1em;
            background: white;
            border-radius: 1em;
            width: fit-content;
            min-width: 70%;
            margin-bottom: 1em;

            .ant-card-meta-title {
                margin-bottom: 0.5em;
                font-weight: bold;
            }
        }
    }

    .event__rooms {
        margin-bottom: 4em;

        .event__room-button {
            padding: 1em;
            margin-bottom: 1em;
            background: white;
            border-radius: 1em;
            border: $gray1 1px solid;

            .ant-card-meta-title {
                font-weight: bold;
                user-select: none;
            }

            // TODO: Extend .button--clickable
            cursor: pointer;
            transition: all 0.2s;
            &:hover {
                transform: scale(1.02);
                border-color: transparent;
                background: $red2;
            }
        }
    }

    .event__edit_button {
        display: inline-block;
        margin: 2em 15% 0 15%;
        width: 70%;

        .ant-btn {
            width: 100%;
        }
    }
}