.medium-card {
  position: relative;
  transition: 0.3s;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  min-width: 75%;
  margin: 0 1.25% 0 1.25%;
  min-height: 15vh;
  padding: 2%;
  @include tablet-landscape {
    margin: 0 0 2.5% 2.5%;
    padding: 2%;
    width: 45%;
    min-width: unset;
  }

  .medium-card-coverphoto {
    user-select: none;
    width: 100%;
    height: 8em;
    object-fit: cover;
    // background: black;
    border-radius: 5px;
  }

  .medium-card-description {
    user-select: none;
    width: 100%;
    margin: 4% 0 0 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .description-text {
      width: 60%;
      // margin-right: 5%;

      .description-date {
        @include medium-card-date;
      }

      .description-title {
        @include medium-card-title;
      }

      .description-host {
        @include medium-card-host;
      }
    }

    .description-options {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 40%;
      align-items: center;

      button {
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4%;
        padding: 0.3em 0.6em;
        height: 2.5em;
        border-radius: 3px;
        border: 0px;
        > img {
          width: 1.3em;
        }
      }
      .share-button {
        background: rgba(255, 29, 88, 0.15);
      }
    }
  }
}
