/* DESKTOP EVENT CARD */

@mixin card-desktop-title {
  font-family: $primary-label;
  font-weight: bold;
  @include tablet-landscape {
    font-size: 1em;
    line-height: 100%;
  }
  @include desktop {
    font-size: 1.125em;
    line-height: 125%;
  }
}

@mixin card-desktop-secondary {
  color: $secondary;
  font-family: $primary-label;
  @include tablet-landscape {
    font-size: 0.75em;
    line-height: 150%;
  }
  @include desktop {
    font-size: 0.875em;
    line-height: normal;
  }
}

@mixin card-desktop-month {
  font-family: $primary-label;
  font-weight: bold;
  @include tablet-landscape {
    line-height: 100%;
    font-size: 0.75em;
  }
  @include desktop {
    font-size: 0.875em;
  }
}

@mixin card-desktop-date {
  font-family: $primary-label;
  font-weight: bold;
  @include tablet-landscape {
    font-size: 1.25em;
  }
  @include desktop {
    font-size: 1.75em;
  }
}

@mixin card-save-btn {
  font-family: $primary-label;
  font-weight: bold;
  @include tablet-landscape {
    font-size: 0.875em;
  }
  @include desktop {
    font-size: 1em;
  }
}

/* SMALL CARD */

@mixin small-card-title {
  font-family: $primary-label;
  margin: 0;
  line-height: 125%;
  font-weight: 800;
  @include tablet-landscape {
    font-size: 0.875em;
  }
  @include desktop {
    font-size: 0.875em;
  }
}

@mixin small-card-date {
  font-family: $primary-label;
  margin: 0;
  font-weight: bold;
  color: #ff1d58;
  @include tablet-landscape {
    font-size: 0.625em;
  }
  @include desktop {
    font-size: 0.625em;
  }
}

@mixin small-card-host {
  font-family: $primary-label;
  margin: 0;
  font-weight: 500;
  color: #a5a7bd;
  @include tablet-landscape {
    font-size: 0.625em;
  }
  @include desktop {
    font-size: 0.75em;
  }
}
