@mixin card-desktop-title {
  @include desktop {
    font-family: $primary-label;
    font-weight: bold;
    font-size: 1.125em;
    line-height: 125%;
  }
}

@mixin card-desktop-secondary {
  color: $secondary;
  @include desktop {
    font-family: $primary-label;
    font-size: 0.875em;
  }
}

@mixin card-desktop-month {
  @include desktop {
    font-weight: bold;
    font-size: 0.875em;
  }
}

@mixin card-desktop-date {
  @include desktop {
    font-weight: bold;
    font-size: 1.75em;
  }
}

@mixin card-save-btn {
  @include desktop {
    font-weight: bold;
    font-weight: 0.875em;
  }
}

@mixin event-category-title {
  @include desktop {
    font-weight: bold;
    font-family: $primary-label;
    font-size: 2.5em;
  }
}
