/* ROUTES */
@mixin page-label {
  font-family: $font-primary;
  font-weight: 800;
  position: fixed;
  bottom: 2vh;
  margin: 0;
  right: 2.5%;
  text-align: right;
  user-select: none;
  @include tablet-portrait {
    line-height: 115%;
    font-size: 3em;
  }
  @include tablet-landscape {
    line-height: 115%;
    font-size: 4.5em;
  }
  @include desktop {
    line-height: 115%;
    font-size: 6em;
  }
}

/* DESKTOP EVENT CARD */

@mixin card-desktop-title {
  font-family: $font-primary;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @include tablet-portrait {
    font-size: 1em;
    line-height: 1em;
  }
  @include tablet-landscape {
    font-size: 0.875em;
    line-height: 100%;
  }
  @include desktop {
    font-size: 1em;
    line-height: 125%;
  }
  @include desktop-big {
    font-size: 1.125em;
    line-height: 125%;
  }
}

@mixin card-desktop-secondary {
  color: $secondary;
  font-family: $font-primary;
  @include tablet-landscape {
    font-size: 0.75em;
    line-height: 150%;
  }
  @include desktop {
    font-size: 0.875em;
    line-height: normal;
  }
}

@mixin card-desktop-month {
  font-family: $font-primary;
  font-weight: bold;
  @include tablet-landscape {
    line-height: 100%;
    font-size: 0.75em;
  }
  @include desktop {
    font-size: 0.875em;
  }
}

@mixin card-desktop-date {
  font-family: $font-primary;
  font-weight: bold;
  @include tablet-landscape {
    font-size: 1.25em;
  }
  @include desktop {
    font-size: 1.5em;
  }
}

@mixin card-save-btn {
  font-family: $font-primary;
  font-weight: bold;
  @include tablet-landscape {
    font-size: 0.875em;
  }
  @include desktop {
    font-size: 1em;
  }
}

/* SMALL CARD */

@mixin small-card-title {
  font-family: $font-primary;
  color: $dark;
  margin: 0;
  line-height: 1em;
  font-weight: 700;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1em;
  @include tablet-landscape {
    font-size: 0.875em;
  }
  @include desktop {
    font-size: 0.875em;
  }
}

@mixin small-card-date {
  font-family: $font-primary;
  margin: 0;
  font-weight: bold;
  color: $red1;
  font-size: 0.875em;
  @include tablet-landscape {
    font-size: 0.625em;
  }
  @include desktop {
    font-size: 0.625em;
  }
}

@mixin small-card-host {
  font-family: $font-primary;
  margin: 0;
  font-weight: 500;
  color: #a5a7bd;
  font-size: 0.75em;
  @include tablet-landscape {
    font-size: 0.625em;
  }
  @include desktop {
    font-size: 0.75em;
  }
}

/* MEDIUM CARD */

@mixin medium-card-title {
  font-family: $font-primary;
  color: $dark;
  margin: 0;
  line-height: 1em;
  font-weight: 700;
  white-space: normal;
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  @include tablet-landscape {
    font-size: 0.875em;
  }
  @include desktop {
    font-size: 0.875em;
  }
}

@mixin medium-card-date {
  font-family: $font-primary;
  margin: 0;
  font-weight: bold;
  color: $red1;
  font-size: 0.875em;
  @include tablet-landscape {
    font-size: 0.625em;
  }
  @include desktop {
    font-size: 0.625em;
  }
}

@mixin medium-card-host {
  font-family: $font-primary;
  margin: 0;
  font-weight: 500;
  color: #a5a7bd;
  font-size: 0.875em;
  @include tablet-landscape {
    font-size: 0.75em;
  }
  @include desktop {
    font-size: 1em;
  }
}
