/* PAGES */
.Page {
  height: 100%;
  width: 100%;
  position: relative;
  // background: #f6f6f7;
}

/* Should extend "Page" */
.Page--center {
  @extend .Page;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.Loader {
  background: white;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  left: 0;
  top: 0;
  opacity: 60%;
  user-select: none;
  z-index: 500;
}

.Error {
  background: lightgrey;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  justify-content: center;
  text-align: center;
  left: 0;
  top: 0;
  opacity: 60%;
  z-index: 500;
}

/* TODO: Mobile View */
@media (max-width: 800px) {
  .Error {
    font-size: 2em;
  }
}

/* PAGE CONTENT */
.row {
  display: flex;
  flex-direction: row;
}

.col-2 {
  flex: 50%;
}
