.small-card {
  position: relative;
  transition: 0.3s;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  min-width: 65%;
  height: 12vh;
  margin: 0 1.25% 0 1.25%;
  padding: 2%;
  @include tablet-landscape {
    height: 10vh;
    margin: 0 0 2.5% 2.5%;
    padding: 2%;
    width: 45%;
    min-width: unset;
  }

  .small-card-coverphoto {
    user-select: none;
    width: 25%;
    height: 100%;
    object-fit: cover;
    // background: black;
    border-radius: 10px;
  }

  .small-card-description {
    user-select: none;
    width: 70%;
    margin-left: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .description-date {
      @include small-card-date;
    }

    .description-title {
      @include small-card-title;
    }

    .description-host {
      @include small-card-host;
    }
  }
}
