a {
    text-decoration: none;
    color: black;
}

.desktop-explore {
    display: flex;
    flex-direction: row;
    z-index: 500;
    box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.2);
}

.explore-title {
    margin-left: 1em;
    margin-right: 1em;
}

.explore-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.explore-links---mobile {
    justify-content: space-around;
}
.explore-mobile-spacer {
    width: 10%;
}

.explore-link {
    color: black;
    margin-right: 1em;
    margin-left: 1em;
}
.explore-link-text {
    line-height: 1em;
    margin-bottom: 0.4em;
    transition: 0.2s;
}
.explore-link-text:hover {
    transition: 0.2s;
    transform: scale(1.1);
}
.explore-link-line {
    background: #2351e0;
    width: 100%;
    height: 2px;
}

.explore-profile {
    /* TODO: Replace with User Profile Icon/Dropdown */
    line-height: 1.5em;
    margin-right: 1em;
}

.mobile-explore {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 500;
    box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.2);
}

/* Doesn't need hover anims because it's in mobile view */
.explore-mobile-button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0) scale(1.2);
    transition: 0.2s;   
}
/* Need nesting */
svg {
    filter: drop-shadow(8px 8px 20px 10px rgba(35, 81, 224, 0.2));
}