.Landing {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  $landing-text-size: 1.5em;
  $landing-text-size-sm: 1.25em;

  .hero {
    width: 100%;
    height: 100vh;
    min-height: 650px;
    margin: 0;

    background: url(../../assets/backdrops/landing-hero.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 200% 80%;

    @include tablet-portrait {
      background-position: top left;
      background-size: 100% 80%;
    }

    @include tablet-landscape {
      background-size: 100% 100%;
    }

    .header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    $landing__header--vertical-padding: 2rem;
    $landing__header--vertical-padding-sm: 1rem;
    $landing__header--horizontal-padding: 1.5rem;
    $landing__header--horizontal-padding-sm: 1.5rem;
    
    .logo {
      display: flex;
      flex-direction: row;
      justify-items: center;
      align-items: center;
      width: fit-content;
      padding: $landing__header--vertical-padding-sm 0 0 $landing__header--horizontal-padding-sm;

      .vibevent-logo {
        max-height: 2rem;
      }
      .vibevent-name-logo {
        font-size: 1rem;
        margin-left: 0;
      }

      @include tablet-landscape {
        padding: $landing__header--vertical-padding 0 0 $landing__header--horizontal-padding;

        .vibevent-logo {
          max-height: 2.5rem;
        }
        .vibevent-name-logo {
          font-size: 1.25rem;
          margin-left: 0.25rem;
        }
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-end;
      padding: $landing__header--vertical-padding-sm $landing__header--horizontal-padding-sm 0 0;

      @include tablet-landscape {
        padding: $landing__header--vertical-padding $landing__header--horizontal-padding 0 0;
      }

      a {
        width: fit-content;
        .ant-btn {
          width: 100%;
          padding-top: 1.5em;
          padding-bottom: 1.5em;
          margin: 0;
        }

        @include tablet-landscape {
          margin-left: 1em;

          .ant-btn-dangerous {
            padding-left: 1.5em;
            padding-right: 1.5em;
          }

        }
      }

    }

    .navigation--mobile {
      cursor: pointer;
      width: fit-content;
      margin: $landing__header--vertical-padding-sm $landing__header--horizontal-padding-sm 0 0;
    }

    .hero-3d {
      max-height: 60%;
      max-width: 100%;

      @include tablet-portrait {
        max-width: 80%;
        margin: 5em 0 0 10%;
      }

      @include tablet-landscape {
        max-width: 50%;
        float: right;
        margin: 5em 5em 0 0;
      }

    }
    
    .hero-text {
      height: 50%;
      width: 40%;

      display: table-cell;
      padding: 0 15% 0 15%;
      vertical-align: middle;
      transform: translateY(-2.5em);

      h1 {
        font-family: $font-secondary;
        line-height: 1em;
        font-weight: 600;
      }

      .explore-btn {
        margin-top: 2em;
        padding: 1.5em;
        min-width: fit-content;
        width: 80%;
      }

      @include tablet-portrait {
        font-size: $landing-text-size-sm;
      }

      @include tablet-landscape {
        padding: 25% 0 15% 15%;
        font-size: $landing-text-size;
      }
    }

  }

  .steps {
    width: 100%;
    margin-top: 10%;

    .step-text-container {
      width: 100%;
      padding-top: 5em;
      height: max-content;
      min-height: 20em;
      display: table-cell;
      vertical-align: bottom;

      h1 {
        color: $red1;
        font-family: $font-primary;
        font-weight: bold;
      }

      p {
        color: $red1;
        font-family: $font-secondary;
      }

      .step-text-container-flex {
        display: flex;
        flex-direction: column;
      }

      .step-text {
        max-width: 100vw;
        padding: 0 5em 0 5em;
      }

      .step-num {
        display: flex;
        align-items: center;
        max-width: 60vw;

        .step-num__num {
          fill: #FF1D58;
          font-size: 2em;
        }
      }

      @include tablet-portrait {
        font-size: $landing-text-size-sm;
        
        .step-text-container-flex {
          flex-direction: row;
        }

        &.reverse {
          .step-text-container-flex {
              flex-direction: row-reverse;
          }
        }

        &.full {
          .step-text-container-flex {
            flex-direction: column;
          }
        }

        .step-text {
          max-width: 60vw;
          padding: 0 3em 0 3em;
        }

        .step-num {
          max-width: 40vw;
        }
      }

      @include tablet-landscape {
        font-size: $landing-text-size;
      }

    }

    @each $i in 1, 2, 4 {
      .s-#{$i} {
        width: 100%;
        height: calc(100vh - 20em);
        min-height: calc(650px - 20em);
        background: url(../../assets/backdrops/landing-#{$i}.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
    .s-3 {
      width: 100%;
      height: 10em;
    }
  }
}

.navigation--mobile__dropdown {
  ant-btn {
    border: 1px solid
  }
}
