.quick-access-card {
  position: relative;
  transition: 0.3s;
  width: 45%;
  height: 10vh;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 0 2.5% 2.5%;
}

.qa-card__title {
  user-select: none;
  position: absolute;
  bottom: 2%;
  left: 7%;
  font-weight: bold;
  line-height: 125%;
  @include tablet-landscape {
    font-size: 1.125em;
  }
  @include desktop {
    font-size: 1.25em;
  }
}

.qa-card__icon {
  user-select: none;
  position: absolute;
  right: 0;
  margin-right: 1em;
  margin-top: 4%;
}
