.search-tools {
    font-family: $primary-label;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 8em;
}

.search-quick-container {
    display: flex;
    flex-wrap: wrap;
    right: 5%;
    width: 100%;
}

.search-preview-container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    right: 5%;
    width: 100%;
}