.search-tools {
  font-family: $primary-label;
  display: flex;
  flex-wrap: wrap;
  // position: absolute;
  // top: 20%;
  // right: 5%;
}

.quick-access-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.search-preview-container {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  right: 5%;
  width: 100%;
}
