.navlinks,
.navlink {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-container {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
    
    width: 100%;
    height: 5em;
    left: 0;
    bottom: 0;
    
    background: #FFFFFF;
    
    .navbar-links {
        display: flex;
        margin: auto;
        align-items: center;
    }
}

.vibevent-logo-container {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
    z-index: 100;
    overflow: hidden;
    @include tablet-landscape {
        min-width: 78px;
    }
    
    .navlinks {
        white-space: nowrap;
        position: absolute;
        top: 20%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .navlink {
        font-family: $font-primary;
        font-weight: bold;
        color: $dark;
        margin: 10% 0;
        cursor: pointer;
        user-select: none;
        font-size: 1.5em;
        @include tablet-landscape {
            font-size: 1.25em;
        }
        @include desktop {
            font-size: 1.75em;
        }
    }
}
