.quick-access-card {
  position: relative;
  transition: 0.3s;
  width: 45%;
  height: 10vh;
  border-radius: 10px;
  background: #ffffff;
  margin: 0 0 5% 5%;
}

.quick-access-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.qa-card__title {
  position: absolute;
  bottom: 2%;
  left: 7%;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 125%;
}

.qa-card__icon {
  position: absolute;
  right: 0;
  margin-right: 1em;
  margin-top: 4%;
}
