@import '~antd/dist/antd.css';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
	height: 100vh;
	width: 100vw;
}

.Page {
	height: 100%;
	width: 100%;
}

/* Should extend "Page" */
.Page--center {
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.Loader {
	background: white;
	position: absolute;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	left: 0;
	top: 0;
	opacity: 60%;
	user-select: none;
	z-index: 500;
}

.Error {
	background: lightgrey;
	position: absolute;
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 3em;
	justify-content: center;
	text-align: center;
	left: 0;
	top: 0;
	opacity: 60%;
	user-select: none;
	z-index: 500;
}