.menu-toggle {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: fixed;
  left: 12.5px;
  width: 50px;
  max-width: 7.5%;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  top: 1.5vh;
  @include tablet-landscape {
    top: 30px;
  }
}
