.sidebar-menu-toggle {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: fixed;
  top: 5%;
  left: 1.25%;
  width: 50px;
  max-width: 7.5%;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}
