.vibevent-logo-container {
    position: absolute;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
    z-index: 100;
    overflow: hidden;
    min-width: 10%;
    @include tablet-landscape {
      min-width: 78px;
    }
  }
  
  .navlinks,
  .navlink {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navlinks {
    white-space: nowrap;
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .navlink {
    font-family: $primary-label;
    font-weight: bold;
    color: $dark;
    margin: 10% 0;
    cursor: pointer;
    user-select: none;
    @include tablet-landscape {
      font-size: 1.25em;
    }
    @include desktop {
      font-size: 1.75em;
    }
  }